.textbox {
    margin-top: 20px;
    background: #F4F4F4;
    border-radius: 3px;
    border-color: #E5E5E5;
    border: none;
    text-align: center;
    min-width: 200px;
    min-height: 40px;
    font-family: 'TT Commons Pro';
    color: black
}

.label {
    font-family: 'TT Commons Pro';
    color: white;
}

h1 {
    font-family: 'TT Commons Pro';
    color: white;
}

form {
    padding: 75px;
}

.terms {
    color: white;
}

#signInDiv > div > div:first-child{
    display: none;
    color-scheme: normal;
  }

#signInDiv > div > div:last-child{
display: block;
color-scheme: normal;
}

#signInDiv {
    color: black;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#GoogleBtn{
    background-color: white;
    color: black;
    padding: 10px ;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
}

#GoogleBtn #GoogleIcon{
    font-size: 22px;
}

#GoogleBtn #GoogleText{
    padding-left: 8px;
    padding-top: 2.5px;
    font-size: 18px;
}

.content {
    padding: 50px;
    padding-top: 50px;
}