.btn {
    background: white;
    min-width: 150px;
    min-height: 40px;
    border: none;
    font-family: 'TT Commons Pro';
    color: black;
    margin-top: 25px;
    border-radius: 3px;
}

.textbox {
    margin-top: 20px;
    background: #F4F4F4;
    border-radius: 3px;
    border-color: #E5E5E5;
    border: none;
    text-align: center;
    min-width: 200px;
    min-height: 40px;
    font-family: 'TT Commons Pro';
    color: black
}

.label {
    font-family: 'TT Commons Pro';
    color: white;
}

h1 {
    font-family: 'TT Commons Pro';
    color: white;
}


.content {
    padding-top: 75px;
}

form {
    padding: 75px;
    padding-top: 150px
}

.terms {
    color: white;
}

.submit {
    padding-top: 200px;
}

i {
    margin-top: 50px;
    margin-bottom: 50px;
}