.addmacbtn {
    margin-left: 50px;
    color: black;
    background-color: white;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    font-family: 'TT Commons Pro';
    font-size:  x-large;
    font-weight: bold;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.689));
    text-decoration: none;
}

.mactitle {
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: normal;
}

.addmacaddress {
    text-align: left;
}

.addmacaddress .textbox {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.addmactext {
    color: white;
    font-weight: normal;
}

.del {
    background-color: rgb(255, 64, 64);
    color: white;
}

.closebtn {
    color: white;
    width: 80px;
    height: 40px;
    font-family: 'TT Commons Pro';
    font-size: larger;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0));
}

.closediv {
    margin-left: 10px;
    margin-top: 10px;
}
