ion-content {
    --padding-top: 50px;
    --padding-start: 30px;
    --padding-end: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* h2 {
    color: white;
    font-family: 'TT Commons Pro';
    padding-bottom: 20px;
} */

.searchbox {
    background: #F4F4F4;
    border-radius: 10px;
    border-color: #E5E5E5;
    border: none;
    text-align: left;
    padding: 10px;;
    min-width: 300px;
    min-height: 40px;
    font-family: 'TT Commons Pro';
    color: black;
    display: inline;
}

.searchbtn {
    background-color: #4E54C5;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.searchdiv {
    align-items: center;
}

.searchdiv label {
    color: white;
}

.searchdiv select {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-family: 'TT Commons Pro';
}

.filterdiv {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.message {
    color: white;
}

.notifybtn {
    background-color: #4E54C5;
    color: white;
    width: 100px;
}