.togglebtn {
    color: rgb(81, 81, 81);
    background-color: #dcdcdc;
    border: solid 5px #dcdcdc;
    border-radius: 3px;
    height: 50px;
    font-family: 'TT Commons Pro';
    font-weight: bold;
    width: 110px;
}

#yesbtn {
    border-radius: 4px 0px 0px 4px;
}

#nobtn {
    border-radius: 0px 4px 4px 0px;
}

.togglebtn-active {
    background-color: #4E54C5;
    color: white;
    filter: none;
}

.blockcontainer {
    margin: auto;
    background-color: white;
    border-radius: 16px;
    width: 300px;
    padding: 40px;
}


h2, h5, label {
    color: black;
    font-family: 'TT Commons Pro';
    padding-bottom: 5px;
    font-weight: bold;
}

.profilecontainer {
    text-align: start;
    margin-bottom: 40px;
}

.profilestatus {
    font-weight: bold;
    color: #989090;
    overflow: hidden;
    white-space: nowrap;
}

/* icons */
.fa-building {
    color: #989090;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.fa-house {
    color: #989090;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.fa-location-pin-lock {
    color: #989090;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h2 {
    color: black !important;
    line-height: 3px;
}

p {
    display: inline;
    margin-left: 3px;
}

.pfp {
    border-radius: 360px;
    width: 100px;
    height: 100px;
}

.timecolumnleft {
    width: 50%;
}

.timecolumnright {
    width: 50%;
}

.errormessage {
    color: red;
}