.settingsbtn {
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'TT Commons Pro';
    font-size: large;
    height: 50px;
    border-bottom: solid 1px white;
    text-align: left;
}

.settingsbtn:hover {
    background-color: rgba(128, 128, 128, 0.250);
    
}