.btn {
    background: white;
    min-width: 150px;
    min-height: 40px;
    border: none;
    font-family: 'TT Commons Pro';
    color: black;
    margin-top: 25px;
    border-radius: 3px;
}

.textbox {
    margin-top: 20px;
    background: #F4F4F4;
    border-radius: 3px;
    border-color: #E5E5E5;
    border: none;
    text-align: center;
    min-width: 200px;
    min-height: 40px;
    font-family: 'TT Commons Pro';
    color: black
}

.label {
    font-family: 'TT Commons Pro';
    color: white;
}

.mail {
    font-family: 'TT Commons Pro';
    color: white;
    font-size: large;
}

i {
    margin-top: 50px;
}

h1 {
    font-family: 'TT Commons Pro';
    color: white;
}

ion-content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

form {
    padding: 75px;
}

.terms {
    color: white;
}

.submit {
    padding-top: 100px;
}