.colleaguecard {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    font-family: 'TT Commons Pro';
    text-align: left;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.571));
}

.colleaguecard .name {
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

.colleaguelabel {
    padding-left: 10px;
    font-size: small;
}

.row {
    display: flex;
}

.columnLeft {
    flex: 50%;
    margin-right: 100px;
    margin-left: 100px;
}

.columnRight {
    flex: 50%;
    margin-right: 100px;
    margin-left: 100px;
}