.colleaguecard {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    font-family: 'TT Commons Pro';
    text-align: left;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.498));
}

.colleaguecard .name {
    font-weight: bold;
    padding-left: 7x;
}

.colleaguelabel {
    font-size: small;
}

.row {
    display: flex;
}

.columnLeft {
    flex: 50%;
    margin-right: 100px;
    margin-left: 100px;
}

.columnRight {
    flex: 50%;
    margin-right: 100px;
    margin-left: 100px;
}

.notifybtn {
    background-color: #4E54C5;
    color: white;
    width: 80px;
    height: 40px;
    border: none;
    font-family: 'TT Commons Pro';
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.557);
}